
<div class="parallax" id="center-white">
  <h2> Some people think there's too much racism, misogyny,
    homophobia, medical debt, victim blaiming, sexual violence, drunken
    gunplay and praise for the 1% in America. </h2>
  <br>
  <h3 id="center-white"> Weird. </h3>
</div>

<hr>

<div class="grid grid-pad">
  <div class="col-2-3 col-m-2-3">
    <h1> These are the people we made Nope The Fuck Out for. </h1>
    <br>
    <p> We're trying to connect likeminded souls who are just fucking <strong> done </strong> with America's treatment of its citizens and those who would help them better their lives. </p>
    <p> If you're Canadian, we'll connect you with an American who might need to stay with you for a week or so in order to check out what, exactly, it takes to move to Canada. </p>
    <p> If you're American, please: get out while the getting's good. </p>
  </div>
  <div class="col-1-3 col-m-1-3">
    <h3> Test heading </h3>
    <p> How can you help? </p>
    <p> Glad you asked. </p>
    <p> [LINKS TO REST OF SITE]</p>
  </div>
</div>

<div class="grid grid-pad">
  <div class="col-1-4 col-m-1-4">
    <p> Quote Lorem </p>
    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum." </p>
  </div>
  <div class="col-1-4 col-m-1-4">
    <p> Quote Lorem </p>
    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum." </p>
  </div>
  <div class="col-1-4 col-m-1-4">
    <p> Quote Lorem </p>
    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum." </p>
  </div>
  <div class="col-1-4 col-m-1-4">
    <p> Quote Lorem </p>
    <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum." </p>
  </div>
</div>
